@import 'antd/dist/antd.compact.less';

@collapse-content-padding: 0;
@border-radius-base: 0;
@btn-border-radius-base: 4px;

@primary-color: #4484F1;
@layout-body-background: #F7F7F7;

@heading-1-size: 1.5em;
@heading-2-size: 1.25em;
@heading-3-size: 1.125em;
@heading-4-size: 0.875em;
